---
name: Create release

on:
  push:
    branches: ["main", "master"]
    # Release whenever this file changes
    paths:
      - "src/brux/cmd/brux/version.txt"
  workflow_dispatch:

jobs:

  generateTag:

    name: "Auto-generate Git tag whenever version.txt changes"
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      contents: write

    steps:

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: true

      - name: Fetch git tags
        run: git fetch --force --tags

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: stable
          cache-dependency-path: src/brux/go.sum

      - name: Read brux version name
        id: read-version
        run: |
          echo "version=$(cat src/brux/cmd/brux/version.txt)" > "$GITHUB_OUTPUT"

      - name: Create new tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.2
        with:
          custom_tag: ${{ steps.read-version.outputs.version }}
          tag_prefix: ""  # To prevent extra "v" in the prefix
          github_token: ${{ secrets.GITHUB_TOKEN }}

  releaseBinary:

    name: "Release Go binaries with Go Releaser"
    runs-on: ubuntu-latest
    needs: generateTag
    timeout-minutes: 15
    permissions:
      contents: write

    steps:

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: true

      - name: Fetch git tags
        run: git fetch --force --tags

      - uses: actions/setup-go@v6
        with:
          go-version: stable
          cache: "false"  # To avoid a cache poisoning attack
          cache-dependency-path: src/brux/go.sum

      # More assembly might be required: Docker logins, GPG, etc. It all depends
      # on your needs.
      - uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
